<div
  class="upload-container mt-4 rounded shadow"
  dragNdrop
  (fileDropped)="onFileDropped($event)"
>
  <input
    type="file"
    #fileDropRef
    id="fileDropRef"
    multiple
    (change)="fileUploadHandler($event.target.files)"
  />
  <img src="assets/img/dnd/ic-upload-file.svg" alt="" />
  <h3>Drag and drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>
<ul class="list-group w-50 mt-4 mx-auto">
  <div *ngFor="let file of files">
    <li class="list-group-item d-flex flex-row">
      <img src="assets/img/dnd/ic-file.svg" width="40px" alt="file" />
      <div class="ml-1 mt-1">
        <h4 class="name">
          {{ file?.key }}
        </h4>
        <p class="size m-0">
          {{ formatBytes(file?.size) }}
        </p>
      </div>
    </li>
  </div>
</ul>
