<!-- <amplify-authenticator
  [signUpConfig]="signUpConfig"
  [usernameAttributes]="usernameAttributes"
>
</amplify-authenticator>

<div *ngIf="signedIn">
  <div class="container button-container border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="/storage"
          >Upload File to S3</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" routerLink="/collibra"
          >Request Changes in Collibra Data Assets</a
        >
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
 -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggler"
      aria-controls="navbarToggler"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="border rounded shadow p-1 lead">
          <strong>CIMPL</strong>
        </span>
      </a>
    </div>
    <ul class="navbar-nav ml-auto mt-lg-0">
      <li class="nav-item mr-2" *ngIf="auth.loggedIn | async">
        <a class="btn btn-info" [routerLink]="['/storage']">Storage</a>
      </li>
      <li class="nav-item mr-2" *ngIf="auth.loggedIn | async">
        <a class="btn btn-info" [routerLink]="['/collibra']">Collibra</a>
      </li>
      <li class="nav-item mr-2" *ngIf="!(auth.loggedIn | async)">
        <a class="btn btn-info" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item mr-2" *ngIf="auth.loggedIn | async">
        <a class="btn btn-warning" (click)="onClickLogout()">Logout</a>
      </li>
      <li class="nav-item mr-2" *ngIf="!(auth.loggedIn | async)">
        <a class="btn btn-info" [routerLink]="['/signup']">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
