<div class="container w-75 mt-4">
  <div class="card">
    <div class="card-header text-center h6">
      Request change in Collibra Data Assets Form
    </div>
    <div class="card-body">
      <form
        [formGroup]="collibraForm"
        (ngSubmit)="onSubmit(collibraForm.value)"
      >
        <!-- <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            required
            placeholder="John Doe"
            [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
          />
          <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
            <div *ngIf="form.name.errors.required">Name is required</div>
          </div>
        </div> -->
        <div class="form-group">
          <label>Asurite Id</label>
          <input
            type="text"
            class="form-control"
            formControlName="asuriteId"
            required
            placeholder="E.g. 'jdoe' for John Doe"
            [ngClass]="{ 'is-invalid': submitted && form.asuriteId.errors }"
          />
          <div
            *ngIf="submitted && form.asuriteId.errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.asuriteId.errors.required">
              Asurite Id is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Community Name</label>
          <ngx-select-dropdown
            [config]="dropdownConfig"
            [options]="communityDropdownOptions"
            formControlName="communityName"
            [ngClass]="{ 'is-invalid': submitted && form.communityName.errors }"
            (change)="getDomainList($event)"
          ></ngx-select-dropdown>

          <!-- <input
            type="text"
            class="form-control"
          /> -->
          <div
            *ngIf="submitted && form.communityName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.communityName.errors.required">
              Community Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Domain Name</label>
          <ngx-select-dropdown
            [config]="dropdownConfig"
            [options]="domainDropdownOptions"
            formControlName="domainName"
            [ngClass]="{ 'is-invalid': submitted && form.domainName.errors }"
          ></ngx-select-dropdown>
          <div
            *ngIf="submitted && form.domainName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.domainName.errors.required">
              Domain Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Asset Type</label>
          <select class="form-control" formControlName="assetType">
            <option *ngFor="let type of assetTypes" [ngValue]="type">{{
              type
            }}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Asset Name</label>
          <input
            type="text"
            class="form-control"
            required
            formControlName="assetName"
            placeholder="anticipated_hire_date"
            [ngClass]="{ 'is-invalid': submitted && form.assetName.errors }"
          />
          <div
            *ngIf="submitted && form.assetName.errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.assetName.errors.required">
              Asset Name is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Enter the comment: </label>
          <textarea
            class="form-control"
            formControlName="comment"
            rows="4"
            [ngClass]="{ 'is-invalid': submitted && form.comment.errors }"
          ></textarea>
          <div
            *ngIf="submitted && form.comment.errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.comment.errors.required">
              Please enter the notes/comments you want to make for the asset.
            </div>
          </div>
        </div>
        <button class="btn btn-primary float-right">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
